<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" jobId="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/operationValue}" th:object="${operationValue}" method="post">
    <p>keyId: <input type="text" th:field="*{keyId}" /></p>
    <p>jobId: <input type="text" th:field="*{jobId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>